.header {
  padding: 96px 0 69px;
  border-bottom: 1px solid var(--grey-2);
}

.header_inner {
  border: none;
  padding: 17px 0;
}

@media (max-width: 767px) {
  .header_inner {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-bottom: 77px;
  }

  .header_inner {
    padding: 24px 0 60px;
  }
}
