.header {
  border-bottom: 1px solid var(--grey-2);
}

.header_inner {
  border: none;
  text-align: center;
  padding-bottom: 17px;
}

@media (min-width: 768px) {
  .header_inner {
    text-align: left;
    padding-bottom: 60px;
  }
}

.header__logo {
  margin-top: 17px;
}

@media (min-width: 768px) {
  .header__logo {
    margin-top: 24px;
  }
}

.header__title {
  margin-top: 49px;
}

@media (min-width: 768px) {
  .header__title {
    margin-top: 38px;
  }
}
