.header__top-line {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

@media (min-width: 768px) {
  .header__top-line {
    margin-top: 24px;
  }
}

.header__top-line_inner {
  justify-content: center;
  padding-bottom: 17px;
}

@media (min-width: 768px) {
  .header__top-line_inner {
    justify-content: flex-start;
    padding-bottom: 60px;
  }
}

.header__title {
  margin-top: 49px;
}

@media (min-width: 768px) {
  .header__title {
    margin-top: 38px;
  }
}
