.page-inner {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--grey-5);
}

.page-inner__content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 56px;
}
