.toggler {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toggler__input {
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(-100vw);
}

.toggler__appearence {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggler__controll {
  width: 52px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  background-color: var(--white);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.toggler__controll::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--grey-2);
  margin-top: 1px;
  transform: translateX(1px);
  will-change: transform;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.toggler__title {
  color: var(--grey-4);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.toggler__input:checked + .toggler__appearence .toggler__controll {
  border-color: var(--blue);
  background-color: var(--blue);
}

.toggler__input:checked + .toggler__appearence .toggler__controll::before {
  background-color: var(--white);
  transform: translateX(25px);
}

.toggler__input:focus + .toggler__appearence .toggler__title {
  text-decoration: underline;
}

.toggler__input:disabled + .toggler__appearence .toggler__controll {
  border-color: var(--grey-2);
  background-color: var(--grey-2);
}

.toggler__input:disabled + .toggler__appearence .toggler__controll::before {
  background-color: var(--grey-3);
  opacity: 0.25;
}

.toggler__icon {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease-in-out;
}

.toggler__icon_sun {
  color: var(--sun);
}

.toggler__icon_moon {
  color: var(--moon);
}
