h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 20px;
}

ul,
ol {
  padding-left: 25px;
}

body {
  color: white;
}

header {
  background-color: #ff0000;
  text-align: center;
}

nav {
  background-color: #ff9a00;
  padding: 10px 0;
}

nav a {
  font-size: 20px;
  color: white;
  padding: 0 5px;
}

nav a:hover {
  text-decoration: none;
}

main {
  background-color: #04a242;
  padding: 10px;
}

article {
  background-color: #1319ff;
  padding: 25px 10px;
  margin-bottom: 5px;
}

footer {
  background-color: #bd00ff;
  text-align: center;
}

footer p {
  font-size: 40px;
}
