@import '../fonts/fonts.css';
@import './reset.css';
@import './typography.css';

@import '../../03-lection1/01-button/button.css';
@import '../../07-lection5/03-toggler/toggler.css';

@import '../../components/component/component.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/logo/logo.css';
@import '../../components/menu/menu.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../components/preview-card/preview-card.css';
@import '../../components/tabs/tabs.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #51cf66;
  --purple: #7048e8;
  --blue: #4263eb;
  --blue-3: #334d6e;
  --blue-4: #90a0b7;
  --blue-5: #a0b1f5;
  --red: #f03d3e;
  --red2: #d84910;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
  --notificaiton: var(--red2);

  --histogram: var(--blue);

  --tabs-content: var(--grey-5);
  --sun: var(--black);
  --moon: var(--grey-3);
}

html[data-theme-dark] {
  --tabs-content: var(--grey-4);
  --sun: var(--grey-3);
  --moon: var(--black);
}

html {
  height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

/* 
mobile: '(max-width: 767px)';
mobile and tablet: (max-width: 1023px);
tablet: '(min-width: 768px) and (max-width: 1023px)';
desktop: '(min-width: 1024px)'; 
*/
