.title {
  color: var(--black);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
}

.title_l {
  font-size: 38px;
  line-height: 48px; /* 126.316% */
}

.title_xl {
  font-size: 50px;
  line-height: 64px; /* 128% */
}

.title_s {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; /* 130% */
}

.text {
  color: var(--black);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}

.text_m {
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.text_s {
  font-size: 14px;
  line-height: 22px; /* 157.143% */
}
