.footer {
  border-top: 1px solid var(--grey-2);
  padding: 71px 0 136px;
  text-align: center;
}

.footer__title {
  margin-bottom: 32px;
}

.footer__text {
  max-width: 640px;
  margin: 0 auto;
}

.footer_inner {
  border: none;
  padding: 92px 0 56px;
}

.footer_inner .footer__title {
  margin-bottom: 0;
  color: var(--grey-3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
