.checkbox {
  display: inline-flex;
  position: relative;
}

.checkbox__input {
  width: 0;
  height: 0;
  position: absolute;
  transform: translateX(-100vw);
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox__controll {
  width: 28px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 0 0 var(--grey-2);
}

.checkbox__check-mark {
  display: none;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__title {
  color: var(--grey-4);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.checkbox__input:checked + .checkbox__state .checkbox__controll {
  border-color: var(--blue);
  background-color: var(--blue);
  box-shadow: 0 0 0 24px rgba(221, 226, 229, 0);
  transition: box-shadow 0.3s ease-in-out;
}

.checkbox__input:checked + .checkbox__state .checkbox__check-mark {
  display: block;
}

.checkbox__input:focus + .checkbox__state .checkbox__title {
  text-decoration: underline;
}

.checkbox__input:disabled + .checkbox__state .checkbox__controll {
  background: var(--grey-2);
  border-color: var(--grey-2);
}

.checkbox__input:disabled + .checkbox__state .checkbox__title {
  color: var(--grey-2);
}
