.footer-inner {
  text-align: center;
  border: none;
  padding: 92px 0 56px;
}

.footer-inner__title {
  color: var(--grey-3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
