.menu {
  display: none;
}

.menu__section {
  margin-bottom: 32px;
}

.menu__list {
  margin-top: 16px;
  list-style: none;
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  color: var(--notificaiton);
}

@media (min-width: 1024px) {
  .menu {
    display: block;
    width: 229px;
  }
}
