.preview {
  background-color: var(--grey-5);
}

.preview__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 23px 15px;
  padding: 24px 0 133px;
  justify-content: center;
}

@media (min-width: 768px) {
  .preview__cards {
    gap: 30px;
    padding: 67px 0 204px;
  }
}
